<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/43b29283-91f5-418e-97bb-808e40cd2344/resourcegroups/HPlusEcommerce20200220045851ResourceGroup/providers/Microsoft.Web/sites/AssignmentMusic20200223035726</ResourceId>
    <ResourceGroup>HPlusEcommerce20200220045851ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://assignmentmusic20200223035726.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>ed3271e0-3614-457d-9290-ab2c3e1f35d0</ProjectGuid>
    <MSDeployServiceURL>assignmentmusic20200223035726.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AssignmentMusic20200223035726</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AssignmentMusic20200223035726</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <SkipDotNetCoreVersionCheck>true</SkipDotNetCoreVersionCheck>
  </PropertyGroup>
</Project>